@import "../../assets/styles/variables.scss";
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 0;
  outline: 0;
  min-width: 90px;
  background: transparent !important;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  height: 40px;
  // padding: 6px;
  padding: 9px 16px;
  cursor: pointer;
  &:hover {
    background: transparent;
  }
  &[data-variant="fill-primary-dark"] {
    background-color: $primary-color-dark !important;
    color: $info-white !important;
  }
  &[data-variant="fill-primary-light"] {
    background-color: $primary-color-light !important;
    color: $info-white !important;
  }
  &[data-variant="fill-blue"] {
    background-color: $blue-button !important;
    color: $info-white !important;
  }
  &[data-variant="outline"] {
    background-color: $info-white !important;
    color: $primary-color-light !important;
    border: 1px solid $primary-color-light;
  }
  &[disabled] {
    cursor: wait;
    opacity: 1;
    background-color: #aeaeae !important;
    color: $info-white !important;
  }
}
