$primary-color-dark: #bf5523;
$primary-color-light: #d86128;
$blue-button: #2374bf;
$secondary-color: #c7a155;
$light-gray: #f1f1f1;
$dark-gray: #f1f1f1;
$info-white: #ffffff;
$info-black-primary: #313736;
$info-black-secondary: #454745;
$info-black-secondary2: #1d2322;
